@import "web-fonts";

@include web-fonts("Open Sans");

$web-fonts-protocol: "http";
@include web-fonts("Open Sans");

$web-fonts-protocol: "https";
@include web-fonts("Open Sans");

$web-fonts-protocol: "";
@include web-fonts("Open Sans");
